<div class="container list-group">

    <h3 class="list-group-item text-left" style="background-color:rgb(44, 62, 80);color:white;">

        <b>Shop Irish</b>

        <span title="Submit your store">
            <a style="color:white; text-decoration:none;">
                <span class="hand glyphicon glyphicon-info-sign pull-right"></span>
            </a>
        </span>
    </h3>

    <h2>
    </h2>

    <form class="list-group-item">
        <input type="text" class="form-control form-control-block input-lg" model.bind="searchKey"
            placeholder="Search for anything: product, location, keyword">
        <span class="input-group-btn"><button class="btn btn-success btn-lg"
                (click)="addItem()"><b>+</b></button></span>
    </form>

    <div class="container list-group">
        <h4 class="list-group-item" style="background-color:rgb(127, 140, 141);color:white;"><b>Bought</b></h4>
        <div class="list-group-item" *ngFor="let item of items">
            <span class="pull-left">
            <button (click)="rebuy(item.id)" class="btn btn-success btn-xs "><b><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></b>
            </button>
            </span>
            <b>&nbsp;{{item.name}}</b>
            <span class="pull-right">
            <button (click)="trash(item.id)" class="btn btn-danger btn-xs "><b><span><i class="fa fa-trash" aria-hidden="true"></i></span></b>
            </button>
            </span>
        </div>
    </div>

</div>